{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Jake Chong</title>
</head>
<body>
    <div class="box">
        <div class="content">
            <div class="name">Jake Chong</div>
            <div class="engineer"> Software Engineer</div>
            <div class="description">
                I am a software engineer working at <a href="https://www.ridecell.com">Ridecell</a>, a mobility platform startup in San Francisco.
            </div>
            <ul class="fa-ul">
                <li class="fa-li">
                    <a href="https://www.linkedin.com/in/jaekyungchong">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="fa-li">
                    <a href="https://github.com/jakechong">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li class="fa-li">
                    <a href="https://twitter.com/snowden">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="picture">
            <img src="http://nbastatistics.net/images/Kobe.jpg" />
        </div>
    </div>
</body>
</html>